@import "tailwindcss";

@theme {
  --color-primary: #002046;
  --color-primary-container: #1b365d;
  --color-surface: #f8f9fa;
  --color-surface-container: #edeeef;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #44474e;
  --color-secondary: #565f70;
  --color-tertiary-container: #c6965e;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

